<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="BankingV1">
<listeners>
<listener class-name="com.BankingV1.utilities.Reporting"></listener>
</listeners>

<test name="BankingApp Test">
<parameter name="browser" value="chrome"/>
      <classes>
         <class name="com.BankingV1.testCases.TC_LoginTest"/>  
          <class name="com.BankingV1.testCases.TC_LoginTestDDT"/>  
         <class name="com.BankingV1.testCases.TC_AddCustomerTest"/>
      </classes>
</test>


</suite>